.h-spacing-none {
  margin-bottom: 0;
}

.h-spacing-3x-small {
  margin-bottom: var(--g-spacing-3x-small);
}

.h-spacing-2x-small {
  margin-bottom: var(--g-spacing-2x-small);
}

.h-spacing-x-small {
  margin-bottom: var(--g-spacing-x-small);
}

.h-spacing-small {
  margin-bottom: var(--g-spacing-small);
}

.h-spacing {
  margin-bottom: var(--g-spacing);
}

.h-spacing-large {
  margin-bottom: var(--g-spacing-large);
}

.h-spacing-x-large {
  margin-bottom: var(--g-spacing-x-large);
}

.h-spacing-2x-large {
  margin-bottom: var(--g-spacing-2x-large);
}

.h-spacing-3x-large {
  margin-bottom: var(--g-spacing-3x-large);
}

.h-spacing-4x-large {
  margin-bottom: var(--g-spacing-4x-large);
}

.h-spacing-5x-large {
  margin-bottom: var(--g-spacing-5x-large);
}

.h-spacing-6x-large {
  margin-bottom: var(--g-spacing-6x-large);
}
