@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-width: 380px !important;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

h1 {
  font-family: 'Raleway';
  font-weight: 900;
}
h2 {
  font-family: 'Raleway';
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.outline-5px-white {
  -webkit-text-stroke: 5px white;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.outline-3px-white {
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.outline-1px-white {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.offset-8px {
  transform: translate(0px, 12px);
}

.pb-6 {
  padding-bottom: 2rem;
}
